body {
    padding: 0;
    margin:0;
    background-color:black !important;
    color:white !important;
}


header img {
    padding-top: 20px;
    height: 300px;
    width: 300px;
}

header h1,h2
{
    text-align:center;
    margin-top:20px;
}

a {
    color: #00B7FF;
}

section img{
    width:100%;
    height:250px;
}

section #left
{
    padding:60px;
    text-align:center;
    font-size:28px;
}

section #right{
    padding:20px;
}


main img {
    width: 100%;
    height: 250px;
}

main p {
    text-align:center;
    font-weight:bold;
}

main .col {
    padding:7px;
}

main{
    margin-top:20px;
}

#con{
    margin-top:20px;
}